{% extends 'base.html' %}

{% block content %}

<h2 class="text-center" style="margin-left: 25px;"> Search Result: </h2><hr>

<div class="container">
    <div class="row justify-content-among m-4">

{% if products %}

    {% for product in products %}

        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">

            <div class="card p-2"  style="height: 50vh;">
                <a href="{% url 'product_detail' product.pk %}">
                    <div class="image-container" style="height: 100px; overflow: hidden;">
                        <img src="{{ product.product_image.url }}" class="card-img-top" alt="image" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </a>
                <div class="card-body">
                    <p class="card-title"><strong>{{ product.product_name }} </strong></p>
                    <p class="card-text">{{ product.product_description|slice:":25" }}{% if product.product_description|length > 25 %}...{% endif %}</p>
                </div>

                <div>
                    <hr>
                    <p style="margin-bottom: 10px; margin-left: 20px;"> <strong>Rs.</strong> {{ product.product_price }}</p>
                </div>

                <div class="d-flex flex-row justify-content-center mb-3">
                    <div>
                        <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary btn-sm "><i class="fas fa-info-circle"></i></a>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-cart-plus"></i></a>

                        {% if request.user.is_authenticated and request.user.user_role == 'admin' %}
                        <a href="{% url 'update_product' product.pk %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'delete_product' product.pk %}" class="btn btn-primary btn-sm"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
 
                    </div>
                </div>  
            </div>
        </div>

        
    {% endfor %}

{% else %}

    <p class="text-center">No products of such name</p>

{% endif %}

    </div>
</div>
        
{% endblock %}
