<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    footer {
      background-color: #008000;
      color: white;
      padding: 20px;
    }
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer-content p {
      margin: 0;
    }
    .footer-content a {
      text-decoration: none;
      color: #333;
      margin-left: 10px;
    }
  </style>
</head>
<body>

  <footer>
    <div class="footer-content">
        <p>Plant Care</p>
        <p>Contatct Us For Help: plantcareforplant@gmail.com</p>
        <div class="copyright">
          <p>&copy; 2024 Plant Care. All rights reserved.</p>
        </div>
    </div>
  </footer>
</body>
</html>
