{% extends 'base.html' %}

{% block content %}

{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/display_product.css' %}">
</head>

<body>
    <div class="container">
        <div class="col-lg-8"><br>
            <div class="row">
                {% if favorite_plant %}
                    {% for favorite in favorite_plant %}
                        <div class="col-lg-4 col-md-6 col-sm-6 mb-4" style="width: 200px;">
                            <div class="product-card">
                                <a href="{% url 'plant_detail' favorite.plant.pk %}">
                                    <div class="image-container">
                                        <img src="{{ favorite.plant.plant_image.url }}" class="card-img-top" alt="image">
                                    </div>
                                
                                    <div class="card-body">
                                        <p class="card-title"><strong style="font-size: 15px;">{{ favorite.plant.plant_name }}</strong></p>
                                        <p class="card-text" style="font-size: 15px;">{{ favorite.plant.plant_description|slice:":40" }}{% if favorite.plant.plant_description|length > 40 %}...{% endif %}</p>
                                    </div>
                                    <hr>

                                    <div class="d-flex justify-content-center mb-3">
                                        <div>
                                            <a href="{% url 'delete_favorite' favorite.pk %}" class="btn btns">Remove</i></a>
                                        </div>
                                    </div>                                    
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">No Favorite Plant Info...</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">   
        <div class="row m-5">
            <div class="col-md-12 m-2">

                {% if favorite_plant.has_other_pages %}
                    <ul class="pagination justify-content-center">
                    
                    {% if favorite_plant.has_previous %}  
                        <li class="page-item">
                            <a href="?page={{ favorite_plant.previous_page_number }}" class="page-link">&laquo;</a>
                        </li>

                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="?page=1">&laquo;</a>
                        </li>     
                    {% endif %}

                    {% for i in favorite_plant.paginator.page_range %}
                        {% if favorite_plant.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>  
                        {% endif %}
                    {% endfor %}


                    {% if favorite_plant.has_next %}  
                        <li class="page-item">
                            <a href="?page={{ favorite_plant.next_page_number }}" class="page-link">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="?page={{ favorite_plant.paginator.num_pages }}">&raquo;</a>
                        </li>     
                    {% endif %}

                    </ul>
                {% endif %}
        </div>
    </div>
</div>
        
{% endblock %}
