{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/plant_detail.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5" class="image"><br>
                <img src="{{ eachPlant.plant_image.url }}" alt="{{ eachPlant.plant_common_name }}" class="img-fluid">
            </div>
            <div class="col-md-6"><br>
                <div class="card">
                    <div class="card-body">
                        <h2>{{ eachPlant.plant_name }}</h2>
                        <p><strong>Description:</strong></p>
                        <p>{{ eachPlant.plant_description }}</p>
                        <p><strong>Is Affected:</strong> {% if eachPlant.is_affected %}Yes{% else %}No{% endif %}</p>
                        {% if eachPlant.is_affected %}
                            <p><strong>Cause:</strong> {{ eachPlant.cause }}</p>
                            <p><strong>Solution:</strong> {{ eachPlant.solution }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><br>
    </div>
</body>
</html>

{% endblock %}
