{% extends 'base.html' %}

{% block content %}

<div class="container">
  {% if orders_with_details %}
    <h1 class="mt-5 mb-4">All Orders with Usernames and Product Details</h1>
    <div class="list-group">
      {% for order in orders_with_details %}
        <div class="list-group-item mb-4">
          <h4>Order ID: {{ order.pk }}</h4>
          <p><strong>Order Date:</strong> {{ order.order_date }}</p>
          <p><strong>User:</strong> {{ order.user.username }}</p>
          <p><strong>Email:</strong> {{ order.user.email }}</p>
          <p><strong>Total Price:</strong> Rs. {{ order.total_price }}</p>
          <p><strong>Shipping Address:</strong> {{ order.shipping_address }}</p>
          <table class="table mt-3">
            <thead>
              <tr>
                <th></th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              {% for order_item in order.orderitem_set.all %}
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="{{ order_item.product.product_image.url }}" alt="{{ cart_item.product.product_name }}" class="img-thumbnail mr-2" style="max-height: 50px;">
                  </div>
                  </td>
                  <td>{{ order_item.product.product_name }}</td>
                  <td>{{ order_item.quantity }}</td>
                  <td>Rs. {{ order_item.sub_total }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="mt-5">No orders found.</p>
  {% endif %}
</div>

{% endblock %}
