{% extends 'base.html' %}

{% block content %}

<p>Payment</p>

<form action="{% url 'payment' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="purchase_order_id" value="1">
    <input type="hidden" name="amount" value="{{ total_price }}">
    <input type="hidden" name="return_url" value="http://127.0.0.1:8000/order/verify_payment">
    <input type="text" value="{{ total_display_price }}" readonly>
    <input type="submit" class="btn btn-primary" value="pay with khalti">
</form>

{% endblock %}