{% extends 'base.html' %}

{% block content %}

<p>Payment</p>

<form action="{% url 'khalti_payment' %}" method="POST">
    {% csrf_token %}
    <p> Select Payment Method:
        <select name="payment_method" id="payment-method-select">
            {% for method in payment_method_choices %}
                <option vaue="{{ method.0 }}">{{ method.1 }}</option>
            {% endfor %}
        </select>
    </p>
    
    <input type="hidden" name="purchase_order_id" value="1">
    <input type="hidden" name="amount" value="{{ total_price }}">
    <input type="hidden" name="return_url" value="http://127.0.0.1:8000/order/verify_payment">
    <input type="text" value="{{ total_display_price }}" readonly>
    <input type="submit" class="btn btn-primary" value="Place Order">
</form>


{% endblock %}