{% extends 'base.html' %}

{% block content %}

<style>
    .custom-card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px; 
    }

    .custom-card .card-body {
        background-color: #f8f9fa;
    }

    .custom-card .btn-primary {
        background-color: #28a745;
        border-color: #28a745;
        width: 100%; 
    }

    .custom-card .btn-primary:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }

    .login-container {
        width: 350px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .center-btn {
        display: flex;
        justify-content: center;
    }
</style>

<div class="container login-container">
    <div class="card custom-card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ error }}
                {{ form.as_p }}
                <div class="center-btn">
                    <input type="submit" value="Change Password" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div><br>
</div>

{% endblock %}
