{% extends 'base.html' %}

{% block content %}
  
<h1 style="font-size: 40px; margin-left: 30px;" class="p-2"> Edit Profile </h1><hr>

<div class="container m-3">
    <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control" value="{{ user.email }}" readonly>
        </div>
        
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" class="form-control" value="{{ user.username }}">
        </div>
        
        <div class="mb-3">
            <label class="form-label">First Name:</label>
            {{ form.first_name }}
        </div>
        
        <div class="mb-3">
            <label class="form-label">Last Name:</label>
            {{ form.last_name }}
        </div>
        
        <div class="mb-3">
            <label class="form-label">Address:</label>
            {{ form.address }}
        </div>

        <div class="mb-3">
            <label for="user_image" class="form-label">User Image:</label>
            {{ form.user_image }}
            <!-- <input type="file" name="user_image" class="form-control-file"> -->
        </div>
        
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>


{% endblock %}
